<ion-header>
  <ion-navbar>
    <ion-title>Connexion</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-label floating>Adresse mail</ion-label>
			<ion-input type="text" [(ngModel)]="emailField"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label floating>Mot de passe</ion-label>
			<ion-input type="password" [(ngModel)]="passwordField"></ion-input>
		</ion-item>
	</ion-list>
	<ion-buttons class="log-reg-buttons">
		<button ion-button (click)="submitLogin()">Connexion</button>
		<button ion-button (click)="submitRegister()">Inscription</button>
	</ion-buttons>
	<p>
		<button ion-button clear full (click)="showForgotPassword()">Mot de passe oublié</button>
	</p>

	<!--<ion-list>
		<p>Utilisateurs</p>
		<ion-item *ngFor="let user of usersList">
			<ion-label>{{user.name.first}} {{user.name.last}}</ion-label>
		</ion-item>
	</ion-list>-->
</ion-content>
