<ion-header>
  <ion-navbar>
    <ion-title>Mon compte</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
	    <a ion-item (click)="logUserOut()"> Déconnexion </a>
  	</ion-list>
</ion-content>
