<ion-header>
  <ion-navbar>
    <ion-title>Activité</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg social-cards">

<ion-card>
  <ion-item>
    <ion-avatar item-start>
      <img src="assets/imgs/itis-logo.png">
    </ion-avatar>
    <h2>{{name}}</h2>
    <p>{{date}}</p>
  </ion-item>
  <img src="assets/imgs/activity-logo.png">
  <ion-card-content>
  	<p><b>Organisateur : </b>Alexandre Maire</p>
  	<p><b>Adresse : </b>{{address}}</p>
  	<p><b>Paiement : </b>sur place</p>
  	<p><b>Prix : </b>4€ par personne</p>
    <p><b>Description : </b>{{desc}}</p>
  </ion-card-content>
  <!-- <ion-row>
    <ion-col>
      <button ion-button color="primary" clear small icon-start>
        <ion-icon name='thumbs-up'></ion-icon>
        12 Likes
      </button>
    </ion-col>
    <ion-col>
      <button ion-button color="primary" clear small icon-start>
        <ion-icon name='text'></ion-icon>
        4 Comments
      </button>
    </ion-col>
    <ion-col align-self-center text-center>
      <ion-note>
        11h ago
      </ion-note>
    </ion-col>
  </ion-row> -->
</ion-card>
<ion-card>
  <ion-item>
    <h2>Réservation</h2>
  </ion-item>
  <ion-card-content>
    <button ion-button round outline (click)="addMember()">Je participe</button>
  </ion-card-content>
  <!-- <ion-row>
    <ion-col>
      <button ion-button color="primary" clear small icon-start>
        <ion-icon name='thumbs-up'></ion-icon>
        12 Likes
      </button>
    </ion-col>
    <ion-col>
      <button ion-button color="primary" clear small icon-start>
        <ion-icon name='text'></ion-icon>
        4 Comments
      </button>
    </ion-col>
    <ion-col align-self-center text-center>
      <ion-note>
        11h ago
      </ion-note>
    </ion-col>
  </ion-row> -->
</ion-card>
</ion-content>