<ion-header>
  <!-- <link href='https://api.mapbox.com/mapbox-gl-js/v0.43.0/mapbox-gl.css' rel='stylesheet'/>
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.43.0/mapbox-gl.js'></script> -->
  <ion-navbar>
    <ion-title>
      My Ingetis
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="addActivity()">
        <ion-icon name="football"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div #pleaseConnect id="please-connect">
    <p>Vérifiez votre connexion à Internet...</p>
  </div>
  <div #map id="map"></div>
  <!--<div id="bottom-infos">
    <p>Informations sur notre bar</p>
  </div>-->
</ion-content>

