page-home {

  #please-connect {
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  #please-connect p {
      color: #fff;
      font-weight: bold;
      text-align: center;
      position: relative;
      font-size: 1.6em;
      top: 30%;
  }

  .scroll {
      height: 100%;
  }

  #map {
      width: 100%;
      height: 100%;
  }

  #bottom-infos {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 15%;
    background-color: white;
    border-top: solid 1px #000000;
  }

  #bottom-infos p {
    text-align: center;
  }

  .toolbar-background {
    background-color: #7aaee9;
  }

  .mapboxgl-missing-css {
  	display: none;
  }
}