<ion-header>
  <ion-navbar>
    <ion-title>Ajouter</ion-title>
	<ion-buttons start>
		<button ion-button icon-only (click)="dismiss()">
			<ion-icon item-right name="close"></ion-icon>
		</button>
	</ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-label stacked>Nom de la sortie</ion-label>
			<ion-input type="text" [(ngModel)]="nameField"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked>Date</ion-label>
			<ion-input type="text" [(ngModel)]="dateField"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked>Lieu</ion-label>
			<ion-input type="text" [(ngModel)]="locationField"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label stacked>Description</ion-label>
			<ion-input type="text" [(ngModel)]="descriptionField"></ion-input>
		</ion-item>
	</ion-list>
	<button ion-button color="primary" outline icon-start (click)="addActivity()"> <ion-icon name='football' is-active="false"></ion-icon> Ajouter </button>
</ion-content>
